<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!--<link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.css">-->
    <!--<script type="text/javascript" src="../lib/js/bootstrap.js"></script>-->
    <!--<script type="text/javascript" src="lib/js/jquery-1.11.0.js"></script>-->


    
    <link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.css">
    <!--<link rel="stylesheet" type="text/css" href="../lib/css/TableTools.css">-->
    
    <link rel="stylesheet" type="text/css" href="../lib/css/jquery.fileupload.css">
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="../lib/css/dataTables.bootstrap.css">

    <link rel="stylesheet" type="text/css" href="../lib/css/dataTables.colVis.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/dataTables.colReorder.css">
    <link rel="stylesheet" type="text/css" href="main.css">


    <script type="text/javascript" src="../lib/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="../lib/js/bootstrap.js"></script>
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>-->
    <script type="text/javascript" src="../lib/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../lib/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="../lib/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="../lib/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../lib/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="../lib/js/dataTables.colVis.js"></script>
    <script type="text/javascript" src="../lib/js/dataTables.colReorder.js"></script>
    <script type="text/javascript" src="../lib/js/iframeResizer.min.js"></script>
    
    <!--<script type="text/javascript" src="../lib/js/ZeroClipboard.js"></script>-->
    <!--<script type="text/javascript" src="../lib/js/TableTools.js"></script>-->
    <script type="text/javascript" src="task_registration.js"></script>
    <script type="text/javascript" src="job_files.js"></script>
    <script type="text/javascript" src="util.js"></script>
    <script type="text/javascript" src="table.js"></script>
    <script type="text/javascript" src="jobs_table.js"></script>
    <script type="text/javascript" src="tasks_table.js"></script>
    <script type="text/javascript" src="executions.js"></script>
    <script type="text/javascript" src="data.js"></script>
    <script type="text/javascript" src="graph.js"></script>
    <script type="text/javascript" src="main.js"></script>


</head>


<body class="container-fluid">
<div id="mainHeader" class="row">
    <div class="col-lg-6">
        <h1>Dexen</h1>
    </div>
    <div class="col-lg-6">
        <a id="logoutBtn" href="/logout" class="pull-right">Logout</a>
        <!-- <button id="adminBtn" class="btn pull-right" disabled="disabled">Admin</button> -->
        <!-- <button id="jobsBtn" class="btn pull-right" disabled="disabled">Jobs</button> -->
        <span id="loggedInName" class="pull-right">{{username}} logged in</span>
    </div>
</div>

<div id="jobsContainer" class="well">
    <div class="row">
        <!-- <div class="col-lg-2"> -->
            <!-- <label>Jobs: </label> -->
            <!-- <span></span> -->
        <!-- </div> -->
        <!-- <div class="col-lg-10"> -->
            <button id="collapseBtn" class="btn">Collapse</button>
            <button id="refreshAllJobsBtn" class="btn">Refresh All</button>
            <input type="checkbox" name="autoRefresh" disabled="disabled"/> Auto Refresh
            
            <button class="btn pull-right" disabled="disabled">Export As CSV</button>
            <button id="exportJobBtn" class="btn pull-right" disabled="disabled">Export</button>
            <button id="importJobBtn" class="btn pull-right" disabled="disabled">Import</button>
            <button id="deleteJobBtn" class="btn pull-right" disabled="disabled">Delete</button>
            <button id="stopJobBtn" class="btn pull-right" disabled="disabled">Stop</button>
            <button id="runJobBtn" class="btn pull-right" disabled="disabled">Run</button>
            <button id="createJobBtn" class="btn pull-right" type="button">Create</button>
<!--             <div role="form" class="form-inline pull-right">
                <div class="form-group">
                    <label for="jobNameTextBox" class="control-label">Job Name:</label>
                    <input id="jobNameTextBox" type="text" class="form-control">
                    <button id="createJobBtn" class="btn" type="button">Create</button>
                </div>
            </div> -->
        <!-- </div> -->
    </div>
    <div id="jobsPanel" class="collapse in">
        <table id="jobsTable" class="table table-bordered">
            <tbody></tbody>
        </table>
    </div>
</div>

<div>
    <ul class="nav nav-tabs">
        <li class="disabled">
            <a href="#filesPane" data-toggle="tab">Files</a>
        </li>
        <li class="disabled">
            <a href="#eventTasksPane" data-toggle="tab">Event Tasks</a>
        </li>
        <li class="disabled">
            <a href="#dataflowTasksPane" data-toggle="tab">Data Tasks</a>
        </li>
        <li class="disabled">
            <a href="#executionsPane" data-toggle="tab">Executions</a>
        </li>
        <li class="disabled">
            <a href="#dataPane" data-toggle="tab">Data Objects</a>
        </li>
        <li class="disabled">
            <a href="#graphPane" data-toggle="tab">Eddex</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="filesPane" class="tab-pane">
            <div class="well">
                <div class="row">
                    <!-- <div class="col-lg-8"> -->
                        <button id="refreshJobFilesBtn" class="btn">Refresh</button>
                        <button class="btn pull-right" disabled="disabled">Export as CSV</button>
                        <button id="downloadJobFileBtn" class="btn pull-right">Download</button>
                        <button id="uploadJobFileBtn" class="btn pull-right">Upload</button>
                    <!-- </div> -->
                </div>
                <table id="jobFilesTable" class="table table-bordered">
                    <tbody></tbody>
                </table>
            </div>

        </div>
        <div id="eventTasksPane" class="tab-pane">
            <div class="well">
                <div class="row">
                    <button id="refreshEventTasksBtn" class="btn">Refresh</button>
                    <button class="btn pull-right" disabled="disabled">Export as CSV</button>
                    <button class="btn pull-right" disabled="disabled">Delete</button>
                    <button id="deregisterEventTaskBtn" class="btn pull-right" disabled="disabled">De-Register</button>
                    <button id="registerEventTaskBtn" class="btn pull-right">Register</button>
                </div>
                <table id="eventTasksTable" class="table table-bordered">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="dataflowTasksPane" class="tab-pane">
            <div class="well">
                <div class="row">
                    <button id="refreshDataflowTasksBtn" class="btn">Refresh</button>
                    <button class="btn pull-right" disabled="disabled">Export as CSV</button>
                    <button class="btn pull-right" disabled="disabled">Delete</button>
                    <button id="deregisterDataflowTaskBtn" class="btn pull-right" disabled="disabled">De-Register</button>
                    <button id="registerDataflowTaskBtn" class="btn pull-right">Register</button>
                </div>
                <table id="dataflowTasksTable" class="table table-bordered">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="executionsPane" class="tab-pane">
            <div class="well">
                <div class="row">
                    <button id="refreshExecutionsTableBtn" class="btn">Refresh</button>
                </div>
                <table id="executionsTable" class="table table-bordered">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="dataPane" class="tab-pane">
            <div class="well">
                <div class="row">
                    <button id="refreshJobDataTableBtn" class="btn">Refresh</button>
                </div>
                <table id="jobDataTable" class="table table-bordered">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="graphPane" class="tab-pane">
        </div>
    </div>
</div>

<div id="eventTaskRegistrationModal" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Register Event Task</h4>
            </div>
            <div class="modal-body">
                <form id="eventTaskRegistrationForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="taskNameInput" class="col-lg-3 control-label">Task Name:</label>
                        <div class="col-lg-9">
                            <input  id="taskNameInput" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cmdArgsInput" class="col-lg-3 control-label">Cmd Args:</label>
                        <div class="col-lg-9">
                            <input id="cmdArgsInput" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="eventTypeInput" class="col-lg-3 control-label">Event Type:</label>
                        <div class="col-lg-9">
                            <select id="eventTypeInput" class="form-control">
                                <option value="JobStartedEvent">Job Started</option>
                                <option value="JobStoppedEvent">Job Stopped</option>
                                <option value="PeriodicTimeEvent">Periodic</option>
                                <option value="OneShotTimeEvent">One Shot</option>
                            </select>
                        </div>
                    </div>
                    <div id="periodicTimeFormGroup" class="form-group">
                        <label for="periodicTimeInput" class="col-lg-3 control-label">Period (seconds):</label>
                        <div class="col-lg-9">
                            <input id="periodicTimeInput" type="number" min="1" class="form-control"/>
                        </div>
                    </div>
                    <div id="oneShotTimeFormGroup" class="form-group">
                        <label for="oneShotTimeInput" class="col-lg-3 control-label">After (seconds):</label>
                        <div class="col-lg-9">
                            <input id="oneShotTimeInput" type="number" min="1" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Cancel</button>
                <button id="eventTaskRegistrationSubmitBtn" class="btn">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="dataflowTaskRegistrationModal" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Register Data Task</h4>
            </div>
            <div class="modal-body">
                <form id="dataflowTaskRegistrationForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="dataflowTaskNameInput" class="col-lg-3 control-label">Task Name:</label>
                        <div class="col-lg-9">
                            <input  id="dataflowTaskNameInput" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dataflowCmdArgsInput" class="col-lg-3 control-label">Cmd Args:</label>
                        <div class="col-lg-9">
                            <input id="dataflowCmdArgsInput" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dataflowTaskConditionTextArea" class="col-lg-3 control-label">Condition:</label>
                        <div class="col-lg-9">
                            <textarea id="dataflowTaskConditionTextArea" form="dataflowTaskRegistrationForm"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dataflowTaskInputSizeInput" class="col-lg-3 control-label">Input Size:</label>
                        <div class="col-lg-9">
                            <input id="dataflowTaskInputSizeInput" type="number" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Cancel</button>
                <button id="dataflowTaskRegistrationSubmitBtn" class="btn">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="fileUploadModal" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>File Upload</h4>
            </div>
            <div class="modal-body">
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input id="filePathInput" type="file" name="files[]" multiple>
                    </span>
                <div id="uploadsArea">
                    <div class="row upload-entry">
                        <div class="col-lg-3">
                            <label></label>
                        </div>
                        <div class="col-lg-6">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<div id="showMoreModal" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

</body>


</html>
